## Biz Case Intro

In [1]:
import numpy as np 
import pandas as pd

In [2]:
!gdown 16KtxSt_QEGQvfluEaMls5cCHPwhRXgCk

Downloading...
From: https://drive.google.com/uc?id=16KtxSt_QEGQvfluEaMls5cCHPwhRXgCk
To: /Users/nikhilsanghi/Downloads/01_dsml-course-main-live/batches/01_MWF_Intro_to_ML/Supervised_Algorithms/03_Decision_Tree_1/HR-Employee-Attrition.csv
100%|█████████████████████████████████████████| 228k/228k [00:00<00:00, 511kB/s]

In [6]:
df=pd.read_csv("HR-Employee-Attrition.csv")
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [7]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [8]:
df["EducationField"].unique()

array(['Life Sciences', 'Other', 'Medical', 'Marketing',
       'Technical Degree', 'Human Resources'], dtype=object)

## Entropy and Information Gain

In [10]:
def calc_entropy(p_g,p_r):
    return -((p_g*np.log2(p_g))+(p_r*np.log2(p_r)))

In [11]:
calc_entropy(p_g=1/2,p_r=1/2)

1.0

In [15]:
calc_entropy(p_g=10e-100,p_r=1).round(2)

0.0

In [16]:
calc_entropy(p_g=1,p_r=10e-100).round(2)

0.0

In [17]:
calc_entropy(p_g=5/6,p_r=1/6)

0.6500224216483541

## Information Gain

In [18]:
## Left 
## Parent
calc_entropy(p_g=0.6,p_r=0.4)

0.9709505944546686

In [19]:
## Left 
## Child 1
calc_entropy(p_g=5/6,p_r=1/6)

0.6500224216483541

In [20]:
## Left 
## Child 2
calc_entropy(p_g=1/4,p_r=3/4)

0.8112781244591328

In [24]:
(60/100*0.65)+(40/100*0.81)

0.7140000000000001

In [ ]:
## Right 
## Parent
calc_entropy(p_g=0.6,p_r=0.4)

In [21]:
## Right 
## Child 1
calc_entropy(p_g=5/7,p_r=2/7)

0.863120568566631

In [22]:
## Right 
## Child 2
calc_entropy(p_g=1/3,p_r=2/3)

0.9182958340544896

In [26]:
(.7*0.86) + (.3*0.91)

0.875